@mixin radial($color: currentColor, $radius: 100%) {
    $shadow: ();

    @for $i from 1 through 10 {
        $shadow: append($shadow, 0 0 4em $color, comma);
    }

    background: $color;
    border-radius: 100%;
    box-shadow: $shadow;

    @content;
}
