$select: ".banner" !default;
$color: black !default;

// components
@use "../../../Shared/css/template/base/components/banner" with (
    $select: $select,
    $color: $color
);

@mixin base {
    @include banner.base;

    #{$select} {
        margin: 0;

        @content;
    }
}
